.wp_download_error{
    font-family: Tahoma;
    color: #f21e17;
}
.wp_download_success{
    font-family: Tahoma;
    color: #2327f2;
}
#wp_download_login_or_register{
    border: wave 2px red;
    /*border-style: wave;*/
}
.main_dialog{
background-color: #7771ff;
    /*height: 200px;*/
    /*width: 100px;*/
}
.ui-tabs { direction: rtl; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.ui-state-default {float: right; }
.ui-tabs .ui-tabs-nav li a { float: right; }


button.ui-dialog-titlebar-close
{
    visibility: hidden;
}


